* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  overflow: hidden;
}
a {
  color: #FFF;
  text-decoration: none;
}
a:link {
  color: #FFF;
}
nav {
  text-align: center;
  position: relative;
  background-color: black;
  width: 100%;
  height: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
  z-index: 1;
  margin-bottom: 1px;
}
li {
  font-family: Ubuntu;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-right: 64px;
  transition: 1000ms;
  cursor: default;
}
.about:hover {
  background: linear-gradient(45deg, #FF2525 , #FBC332 , #A9DA40);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.schedule:hover {
  background: linear-gradient(45deg, #D2CF3A , #ACDA40 , #E0E339);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.place:hover {
  background: linear-gradient(45deg, #E6E438 , #A4EF43 , #2DFF7A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.posters:hover {
  background: linear-gradient(45deg, #32FF9B , #35FFAB , #39FECA);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.clothes:hover {
  background: linear-gradient(45deg, #39F8E9 , #39C9FF , #6754E9);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}

h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  width: 601px;
  margin: auto;
  height: 300px;
}
.grider {
  display: grid;
  grid-template-columns: 100%;
  transform: translateY(50px);
}
.box {
  display: grid;
  grid-template-columns: 100% 100% 100%;
}
.one,
.two,
.three {
  height: 200px;
}
.line1,
.line2,
.line3 {
  height: 35px;
  width: 100%;
  margin-top: 76px;
}
.line1 {
  background: #FFFFFF;
}
.line2 {
  background: #AC79FF;
}
.line3 {
  background: #FF0000;
}
.center-round1,
.center-round2,
.center-round3 {
  position: relative;
  width: 141px;
  height: 141px;
  padding: 14px;
  border-radius: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -15px;
}
.center-round1 {
  background-color: #FFF;
}
.center-round2 {
  background: #AC79FF;
}
.center-round3 {
  background: #FF0000;
}
.inner-round1,
.inner-round2,
.inner-round3 {
  width: 113px;
  height: 113px;
  border-radius: 80px;
  left: 50%;
}
.inner-round1 {
  background-color: #000000;
}
.inner-round2 {
  background: #3D019D;
}
.inner-round3 {
  background: #9C1212;
}
.nextp1 {
  width: 94px;
  height: 94px;
  background: #C3ACEC;
  border-radius: 80px;
  margin-left: auto;
  margin-right: -53px;
  margin-top: -193px;
  }
}
