@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(180deg, #E4BA4D 0%, #CFE44D 53.65%, #62E44D 100%); 
}
a {
  color: #FFF;
  text-decoration: none;
}
a:link {
  color: #FFF;
}
.burger {
  display: none;
}
.mobile {
  display: none;
}
a {
  color: #FFF;
  text-decoration: none;
}
a:link {
  color: #FFF;
}
.bur {
  display: none;
}
.burger {
  display: none;
}
.main {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
  z-index: 1;
  margin-top: -20px;
  align-items: center;
}
.about,
.schedule,
.place,
.posters {
  font-family: Ubuntu;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-right: 64px;
  transition: 1000ms;
  cursor: default;
}
.about:hover {
  background: linear-gradient(45deg, #FF2525 , #FBC332 , #A9DA40);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.schedule:hover {
  background: linear-gradient(45deg, #D2CF3A , #ACDA40 , #E0E339);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.place:hover {
  background: linear-gradient(45deg, #E6E438 , #A4EF43 , #2DFF7A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.posters:hover {
  background: linear-gradient(45deg, #32FF9B , #35FFAB , #39FECA);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.clothes:hover {
  background: linear-gradient(45deg, #39F8E9 , #39C9FF , #6754E9);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.main-grid-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 20px;
  row-gap: 20px;
  position: relative;
  padding: 0 50px 0 50px;
}
.one {
  grid-column-start: 1;
  grid-column-end: 4;
}
.two {
  grid-column-start: 1;
  grid-column-end: 4;
}
.three {
  grid-column-start: 1;
  grid-column-end: 4;
}
.poster-1,
.poster-2,
.poster-3,
.poster-4,
.poster-5,
.poster-6,
.poster-7,
.poster-8,
.poster-9 {
  height: 90vh;
}
h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 110px;
  text-align: center;
  margin-top: 30px;
  color: #000000;

}
.poster-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/4graph.jpg);
}
.poster-1:hover {
  transform: rotate(360);
  transition: 1s;
}
.poster-2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/8,5.jpg);
}
.poster-3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/9.jpg);
}
.poster-4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/typ1.jpg);
}
.poster-5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/typ2.jpg);
}
.poster-6 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/typ3.jpg);
}
.poster-7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/live-poster.gif);
  background-repeat: no-repeat;
}
.poster-8 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/life2.gif);
  background-repeat: no-repeat;
}
.poster-9 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/image.gif);
}
footer {
  margin-top: 30px;
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
}
h4 {
  color: white;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.lf {
  display: grid;
  height: 200px;
  padding-right: 223px;
  padding-top: 50px;
}
.rf {
  display: grid;
  height: 200px;
  padding-left: 223px;
  padding-top: 50px;
}
.align {
  position: relative;
  justify-self: end;
}
.vk {
  margin-right: 20px;
}
img {
  margin-top: 26px;
}
.logos {
  margin-left: -12px;
}











@media (max-width: 1180px) {
    .about,
    .schedule,
    .place,
    .posters {
      font-family: Ubuntu;
      display: inline-block;
      color: white;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      margin-right: 64px;
      transition: 1000ms;
      cursor: default;
    }
    .main-grid-box {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 20px;
      row-gap: 20px;
      position: relative;
      padding: 0 50px 0 50px;
    }
    .one {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .two {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .three {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .poster-1,
    .poster-2,
    .poster-3,
    .poster-4,
    .poster-5,
    .poster-6,
    .poster-7,
    .poster-8,
    .poster-9 {
      height: 80vh;
    }
}

@media (max-width: 768px) {
  .mobile {
    display: inherit;
  }
  h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 84px;
    line-height: 110px;
    text-align: center;
    margin-top: 30px;
    color: #000000;

  }
  .main-grid-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    padding: 0 50px 0 50px;
  }
  .one {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .two {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .three {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .poster-1,
  .poster-2,
  .poster-3,
  .poster-4,
  .poster-5,
  .poster-6,
  .poster-7,
  .poster-8,
  .poster-9 {
    height: 100vh;
  }

  #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  transform: translateY(-42px);
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family: Montserrat;
  text-align: left;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
  .about,
  .schedule,
  .place,
  .posters {
    display: none;
  }

  .lf {
    display: grid;
    height: 200px;
    padding-right: 83px;
    padding-top: 50px;
  }
  .rf {
    display: grid;
    height: 200px;
    padding-left: 83px;
    padding-top: 50px;
  }
  .bur {
    display: inherit;
  }
  .button {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
  }

}
@media (max-width: 652px) {

    footer {
      background-color: black;
      display: grid;
      grid-template-columns: 100%;
    }
    h4 {
      color: white;
      text-decoration: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 29px;
      width: 100px;
      color: #FFFFFF;
      margin-left: 30px;
    }
    .lf {
      grid-row-start: 1;
      display: grid;
      height: 150px;
      padding-top: 10px;
      padding-right: 0px;
    }
    .rf {
      grid-row-end: 3;
      display: grid;
      height: 150px;
      padding-top: 10px;
      padding-left: 0;
    }
    .align {
      position: relative;
      justify-self: center;
      align-self: center;
    }
    .line {
      justify-self: center;
      align-self: center;
    }
    .vk {
      transform: translateX(-80px);
    }
    .hse {
      transform: translateX(-80px);
    }
    img {
      margin-top: 26px;
    }
    .logos {
      margin-left: -12px;
    }
}
@media (max-width: 414px) {

     footer {
       background-color: black;
       display: grid;
       grid-template-columns: 100%;
     }
     .poster-1,
     .poster-2,
     .poster-3,
     .poster-4,
     .poster-5,
     .poster-6,
     .poster-7,
     .poster-8,
     .poster-9 {
       height: 60vh;
     }
     h1 {
       font-family: Ubuntu;
       font-style: normal;
       font-weight: normal;
       font-size: 36px;
       line-height: 110px;
       text-align: center;
       margin-top: 30px;
       color: #000000;

     }
     .main-grid-box {
       margin-top: 50px;
       display: grid;
       grid-template-columns: 100%;
       column-gap: 20px;
       row-gap: 20px;
       position: relative;
       padding: 0 50px 0 50px;
     }
     h4 {
       color: white;
       text-decoration: none;
       font-family: Montserrat;
       font-style: normal;
       font-weight: normal;
       font-size: 14px;
       line-height: 29px;
       width: 100px;
       color: #FFFFFF;
       margin-left: 30px;
     }
     .lf {
       grid-row-start: 1;
       display: grid;
       height: 150px;
       padding-top: 10px;
       padding-right: 0px;
     }
     .rf {
       grid-row-end: 3;
       display: grid;
       height: 150px;
       padding-top: 10px;
       padding-left: 0;
     }
     .align {
       position: relative;
       justify-self: center;
       align-self: center;
     }
     .line {
       justify-self: center;
       align-self: center;
     }
     .vk {
       transform: translateX(-80px);
     }
     .hse {
       transform: translateX(-80px);
     }
     img {
       margin-top: 26px;
     }
     .logos {
       margin-left: -12px;
     }
}
@media (max-width:375px) {
  .poster-1,
  .poster-2,
  .poster-3,
  .poster-4,
  .poster-5,
  .poster-6,
  .poster-7,
  .poster-8,
  .poster-9 {
    height: 60vh;
  }
  h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 110px;
    text-align: center;
    margin-top: 10px;
    color: #000000;

  }
  .main-grid-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    padding: 0 20px 0 20px;
  }
}
