@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
a {
  color: #FFF;
  text-decoration: none;
}
a:link {
  color: #FFF;
}
nav {
  text-align: center;
  position: relative;
  background-color: black;
  width: 100%;
  height: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
  z-index: 1;
  margin-bottom: 1px;
}
li {
  font-family: Ubuntu;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-right: 64px;
  transition: 1000ms;
  cursor: default;
}
.about:hover {
  background: linear-gradient(45deg, #FF2525 , #FBC332 , #A9DA40);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.schedule:hover {
  background: linear-gradient(45deg, #D2CF3A , #ACDA40 , #E0E339);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.place:hover {
  background: linear-gradient(45deg, #E6E438 , #A4EF43 , #2DFF7A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.posters:hover {
  background: linear-gradient(45deg, #32FF9B , #35FFAB , #39FECA);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.clothes:hover {
  background: linear-gradient(45deg, #39F8E9 , #39C9FF , #6754E9);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
h1 {
  width: 556px;
  height: 110px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  text-align: center;
  color: #000000;
  margin: auto;
  transform: translateY(70px);
}
img {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 528px;
}
